{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div id="sign-in">
        <form method="post" action="/sign-in">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="email">Senha</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>
            <button type="submit" class="btn  btn-primary"> Acessar </button>

        </form>
    </div>
</div>
{% endblock %}